.main-content {
  max-width: 80%;
}

.grid {
  display: flex;
}
.col-1-2 {
  flex: 1;
}
.col-1-2:last-child {
  margin-left: 10%;
}

.comment {
  font-style: italic;
  font-size: xx-large;
  text-align: left;
}

.commenttitle {
  font-style: normal;
  text-align: center;
}

.plot-container {
  width: 50%;
}